<div class="pokemon-cards">
    {{#each cards}}
    <div class="search_card">
        <img class="search_image" src="{{this.images.large}}" alt="{{this.name}}">
        <h5>{{this.name}}</h5>
        <h5>Set: {{this.set.name}}</h5>
        <h5>Price: {{this.cardmarket.prices.averageSellPrice}}</h5>
    </div>
    {{/each}}
</div>