<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <style>
        body {
            margin: 20px;
            padding: 0;
            text-align: center;
        }

        .profile_img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            object-fit: contain;
        }

        .username {
            font-size: 24px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="https://cdn0.iconfinder.com/data/icons/avatar-profile/452/pikachu_pokemon_profile_avatar_people-512.png"
            alt="profile" class="profile_img">
        <div class="profile-info">
            <h2>Username: {{user.username}}</h2>
            <h3>Your Deck of Cards</h3>
        </div>
        <form action="/add-deck" method="POST">
            <label for="deck_name">Enter Deck Name</label>
            <input type="text" id="deck_name" name="deck_name">
            <button type="submit">Add deck</button>
        </form>
        <div style="display: flex; justify-content: space-around; margin-top: 50px; padding-bottom: 50px">
            <div class="pokemon-cards"
                style="display: grid; grid-template-columns: repeat(3, 1fr); row-gap: 50px; column-gap: 150px;">
                {{#each cards}}
                <div class="search_card" style="display: flex; flex-direction: column">
                    <img class="search_image" src="{{this.card_image}}" alt="{{this.card_name}}"
                        style="width: 250px; height: auto;">
                    <h5>{{this.card_name}}</h5>
                    <h5>Set: {{this.card_set}}</h5>
                    <h5>Price: {{this.card_price}}</h5>
                </div>
                {{/each}}
            </div>
        </div>


</html>